@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rock+Salt&display=swap');
a {
    text-align: center;
    font-family: Raleway, sans-serif, Helvetica;
}
a hover {
    background-color:#fcfbfb;
    color:black;
    text-decoration: underline;
}
.home-title {
    color:black;
    font-family: "Rock Salt", sans-serif, Helvetica;
    font-size: 2em;
    margin-top: 10px;
}
#content {
    max-width: 1600px;
    height: 100px;
    background-color:#fcfbfb;
    margin: 0 auto;
  }
  p {
    margin: 0 auto;
    font-family: Raleway, sans-serif, Helvetica;
  }
  #hero-msg h1 {
    text-align: center;
  }
  #hero-msg h4 {
      text-align:center
  }
  h4 {
      color:black;
  }
  .button-box {
      text-align: center;
  }
  main section {
      text-align: center;
      color:black;
  }
  #background {
    height: 725px;
}
body {
    background-color:#fcfbfb; 
    font-family: "Rock Salt", sans-serif, Helvetica;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color:bisque;
}
nav a {
    color:black;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: black;
    color:#fcfbfb;
}
.book, .join {
    background-color:#fcfbfb;
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color:black;
    color:#fcfbfb;
}
#background {
    height: 725px;
    background-color:bisque;
}
.msg {
    background-color:bisque;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color:black;
}
.msg p {
    color:black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color:dimgrey;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3 {
    color:#fcfbfb;
    text-decoration: underline;
    font-family: Raleway, sans-serif, Helvetica;
}
footer a {
    color:#fcfbfb;
    text-decoration: none;
}
footer a:hover {
    color:#fcfbfb;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer {
    padding-top: 15px;
}
.social img {
    padding-top: 15px;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}   
.card-img {
    border: 10px solid bisque;
}
main section img {
    box-sizing: border-box;
}