@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
a {
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
}
a hover {
    background-color: black;
    color:white;
    text-decoration: underline;
}
p {
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
    font-size:larger;
}
.main-grid {
    margin: 30px;
}
.home-title {
    color:black;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(255,255,255,.7);
    margin-top: 50px;
}
.hero {
    background-image: url("../mountains.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero2 {
    background-image: url("../skiingpic.jpg");
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title {
    color:black;
    font-size: 2em;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
  }
  h2 {
    font-family: "Rock Salt", Helvetica, sans-serif;
    color: black;
  }
  .adult {
    display:grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  .children {
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 50px;
  }
  .sub-title {
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
  }
  .mountainimg {
    width: 100%;
  }
  .about {
    padding: 50px;
    margin-top: 150px;
    font-family: Roboto, Helvetica, sans-serif;
  }
  .card-img {
    border: 10px solid #848586;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    max-width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
  .ski-prices {
    grid-column: 6/8;
    grid-row: 2/3;
  }
  #hero-msg {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #hero-msg h1 {
    text-align:center;
    color: black;
    grid-column: 4/5;
    grid-row: 1/2;
  }
  #hero-msg h2 {
    text-align: center;
    color: black;
  }
  #hero-msg h3{
    text-align: center;
    color: black;
  }
  .faq-banner {
    width: 100%;
  }
  #hero-msg h4 {
    text-align:center;
    color: black;
  }
  #hero-msg h5 {
    text-align:right;
    color: black;
  }
  .faq-text {
    padding: 0 100px;
  }
  h4 {
    color:black;
    padding: 40px;
    background-color: rgba(255,255,255,.7);
  }
  h1 {
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
  }
  .button-box {
    text-align: center;
  }
  .book {
    background-color:#848586;
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
  }
  .book:hover {
    background-color:#C2847A;
    color:white;
  }
  #background {
    height: 725px;
}
body {
    background-color:#fcfbfb; 
    font-family: "Rock Salt", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color:#C2847A;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color:black;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: #848586;
    color:#fcfbfb;
}
.msg{
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/6;
    grid-row: 3/4;
}
footer {
    background-color:#C2847A;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color:#fcfbfb;
    text-decoration: underline;
    font-family: Roboto, Helvetica, sans-serif;
}
footer a {
    color:#fcfbfb;
    text-decoration: none;
}
footer a:hover {
    color:#fcfbfb;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#hero-img {
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
}
.skigear {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 100px;
}
footer {
    padding-top: 15px;
}
.social img {
    padding-top: 15px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%;
  }
  
  .bgimg {
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
    width: 100%;
  }
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }