@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
.colors {
  --primary-color: #C2847A;
  --secondary-color: #848586;
  --accent1-color: #EEE0CB;
  --accent2-color: #BAA898;

h4 {
  heading-font: "Rock Salt";
  paragraph-font: Roboto, Helvetica, sans-serif;
}